

.Weather{
    border: 1px solid #ecf0f6;
    font-family: arial, sans-serif;
    color: rgb(65, 63, 63);
    padding:16px;

    border-radius:4px;
    margin:30px auto;


}

.Weather form{
    margin-bottom:30px;
}


 
.Weather h1{
    font-size:36px;
    font-weight:100;
    line-height:29px;
    margin:20px 0 0 0;
}
.Weather ul{

    margin-top:10px;
    padding:0;

}
.Weather li{

    font-size:16px;
    font-weight:100;
    line-height:19.2px;
    height:18.6667px;
    text-align:left;
    list-style: none;
}

.Weather .position{
    display:inline-flex;
    text-align: right;
    margin-bottom: 30px;;

    }

.Weather canvas{
    margin-top:5px;
    margin-right:10px;


  }
  .Weather .temperature {
    font-weight: bold;
    color: #090221;
    font-size: 60px;
   line-height: 64px;
   font-weight: 400;
    
  }
  .Weather .details{
    padding-left: 70px;
  }
.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top:-30px;

  }
  @media (max-width: 768px){
  
    .Weather .col-9{
        max-width: 80%;
        margin-right:0px;
        padding-right:2px ;
    }
    .Weather .col-3{
        margin-left:0px;
        padding-left:2px ;
        
    }

  }